# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Vercel
.vercel

rapid-delivery-app-1d838-firebase-adminsdk-fbsvc-89ade73eb1.json
